<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

## 1 for

### 1.1 for with a list

In [1]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]
for name in real_names:
    print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

### 1.2 for with enumerate

In [2]:
#to access data in two lists
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]
for i, name in enumerate(real_names):
    print(f'{i}: {name} is a Marvel superhero!')
    #'i' keeps count here

for i, name in enumerate(real_names):
    superhero_name = super_names[i]
    print(f'{name} is {superhero_name}!') #omg cool
    
 #starting count from a number other than '0'
for i, name in enumerate(real_names, 100):
    print(f'{i}: {name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!
Natasha Romanoff is Black Widow!
Tony Stark is Iron Man!
Stephen Strange is Doctor Strange!
100: Natasha Romanoff is a Marvel superhero!
101: Tony Stark is a Marvel superhero!
102: Stephen Strange is a Marvel superhero!

### 1.3 for with range

In [9]:
boo = []
for i in range(5):
    boo.append(i)
boo

for i in range(5, 10):
    boo.append(i)
boo

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
boo = []
for i in range(1, 10, 3):
    boo.append(i)
boo
#adjust step size from 1-10 in threes

[1, 4, 7]

In [5]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]
for i in range(len(real_names)): #len(realnames) limits how many
    real_name = real_names[i]     # times the loop runs
    super_name = super_names[i]      # 'i' here attaches the loop, maybe  
    print(f"{real_name} is Marvel's {super_name}!")

Natasha Romanoff is Marvel's Black Widow!
Tony Stark is Marvel's Iron Man!
Stephen Strange is Marvel's Doctor Strange!

## 2 while

In [7]:
boo = []
number = 0
while number < 5:
    boo.append(number)
    number += 1
boo

[0, 1, 2, 3, 4]

## Exercise 1 :  Make me a list

In [6]:
boo = []
for i in range (10):
    boo.append(i**2)
boo

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Exercise 2 :  Make me an odd list

In [5]:
boo = []
for i in range (1,10,2):
    boo.append(i**2)
boo

[1, 9, 25, 49, 81]

## Exercise 3 :  Make me another odd list

In [18]:
boo = []
number = 1
while number < 10: 
    boo.append(number**2)
    number += 2
boo

[1, 9, 25, 49, 81]